html {
  font-family: sans-serif;
  line-height: 1.15;
  display: block;
  height:100%;
}
* {
  background-color: #f2f2f2;
  margin: 0;
  color:black;
}
.flex{
  flex: 0 0 auto
}
.container-main {
  display: flex;
  height:100%;
  background-color: rgba(66, 134, 243, 0.274);
}
.access-bar-left {
  width: 25%;
  height: 100%;
  padding: 0 10px;

}

.main-space-right {
  width: 75%;
  background-color: #f1f1f1;
  height: 100%;
  position: relative;
}
.song {
  height: 300px;
  min-width:300px;
  background-color: rgba(162, 162, 201,1)
}
.song-detail h3, h4 {
  background-color: rgb(98, 98, 138)
}
.songControl {
  position:relative;
  left:-14px;
  top: 40px;
}
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 7px 10px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;
} 