<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Blocks | Audio App </title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body >
  <div id="app">
      <div> 
          <navbar-component :change-view="changeView" :toggle-upload="toggleUpload"></navbar-component>
  
          <!-- <main-component 
              v-if="view == 'main'"
              :change-view="changeView">
          </main-component> -->
  
          <!-- <audio-play-component 
              v-if="view == 'audioPlay'" 
              :change-view="changeView">
          </audio-play-component>
          <audio-block-component :change-view="changeView" v-if="view=='block'">
  
          </audio-block-component> -->
      </div> 
      <!--songs space-->
      <div class="container-main">
      <!--left side space-->
        <div class="access-bar-left flex">
          <div id="nav-bar" class="nav-bar">
            <div>
                <h5>Search Song Title</h5>
              </div>
              <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" v-model="search">
              </form>
            </div>
           
            <br>
            <div id="uploadDiv" >
              <label for="file">Upload Song:</label>
              <form id="formUpload" v-on:submit.prevent="uploadSong">
                <input type="file" id="file" name="file" accept="audio/*">
                <input type="text" name="title" placeholder="song title">
                <input type="text" name="artist" placeholder="artist">
                <input type="text" name="genre" placeholder="genre">
                <input type="text" name="coverUrl" placeholder="coverUrl">
                <input type="text" name="audioUrl" placeholder="audioUrl">
                <input type="submit" id="submitUpload">
              </form>
            </div>
           
        </div>

        <div class="main-space-right" >
          <div class="container-fluid">
              <div class="row">
                <div class="song col-lg-3 col-md-4 col-sm-6 mr-5 ml-5 mt-3 mb-3" v-for="song in filteredSongs">
                  <div class="song-detail">
                    <!-- <img v-bind:src="song.coverUrl"> -->
                
                    <h3>{{song.title}}</h3>
                  </div>
                  <div class="song-detail">
                    <h4>{{song.artist}}</h4>
                  </div>
                  <div class="song-detail">
                    <h4>{{song.rating}}</h4>
                 -->
                  <audio controls class="songControl">
                      <source v-bind:src="song.audioUrl" type="audio/mp3">
                  </audio>  
                </div>
                  
              
              </div>
            </div>
      
          </div>
    </div>
  </div>
    
    <!-- additional scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    
    <!-- vue components -->
    <script src="components/navbar.js"></script>
    <!-- <script src="components/main.js"></script> -->
    <script src="components/audioplay.js"></script>
    <script src="components/audioBlock.js"></script>
    <!-- vue instance -->
    <script>
        const server = axios.create({ baseURL:'http://localhost:3000' })
        Vue.prototype.$server = server

        let app = new Vue({

            el : '#app',
            data : {
                view : 'audioPlay',
                search:'',
                songs: [],
                seen:false
            },
            created () {
              this.getSongs();
            },
            computed: {
              filteredSongs() {
               return this.songs.filter((song) => {
                return song.title.toLowerCase().indexOf(this.search.toLowerCase()) > -1
               }) 
              }
            },
            beforeMount () {

            },
            methods: {
               
                toggleUpload (){
                  $("#uploadDiv").toggle();
                },
                changeView(viewName) {
                    this.view = viewName
                },
                getSongs() {
                  axios.get('http://localhost:3000/song')
                  .then(res => {
                   res.data.forEach(song => this.songs.push(song))
                  })
                  .catch(err => {
                    console.log(err.response)
                  })
                },
                uploadSong() {
                  let song= {
                    title: $("#title").val(),
                    artist:$("#artist").val(),
                    genre:$("#genre").val(),
                    coverUrl:$("coverUrl").val(),
                    audioUrl:$("audioUrl").val()
                  };
                  axios({
                    method: 'post',
                    url: 'http://localhost:3000/song',
                    data: song
                   })
                   .then(song => $("#msg").html('Successfully uploaded the song.'))
                   .catch(err=> $("#msg").html('There was a problem uploading the song.'))
                }
            }
        })
    </script>
</body>

</html>